<a href="https://colab.research.google.com/github/SarahSouzaPontes/analisedescritivadosdadossalariosSaoFrancisco/blob/main/Sarah_Pontes11_05_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##BANCO DE SALÁRIOS DE SÃO FRANCISCO;
##Foi visualizado o dataset;
##148654 linhas;
##Utilizando o PANDAS (biblioteca do Python);
##Tipos de dados e coluna 13, pois indexação do Python inicia no 0 que é o ID;
##Média do salário, maximo e mínimo;
##Filtrar o cargo para encontrar um funcionário;
##Filtrar salário de funcionário;
###Verificar maiores salários, menor,
###Verificar quantidade de pessoas com cargos de chefia;
##Verificar correlação entre tamanho da string do título do cargo e salário, não é correlação.

In [ ]:
#importando pandas
import pandas as pd

In [ ]:
#importando csv
salario = pd.read_csv ("Salaries.csv")

In [ ]:
#visualizando as primeiras 2 linhas
salario.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [ ]:
#tamanho
len(salario)

148654

In [ ]:
#range
#descricao das variáveis
salario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [ ]:
#salario medio
salario["BasePay"].mean()

66325.44884050643

In [ ]:
#maior número da coluna
salario["OvertimePay"].max()

245131.88

In [ ]:
#Qual o cargo do funcionário "JOSEPH DRISCOLL"?
#EmployeeName = A JOSEPH DRISCOLL
salario["EmployeeName"] == "JOSEPH DRISCOLL"

0         False
1         False
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: EmployeeName, Length: 148654, dtype: bool

In [ ]:
salario [salario["EmployeeName"] == "JOSEPH DRISCOLL"]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [ ]:
#RESPOSTA: captain fire supression

In [ ]:
salario [salario["EmployeeName"] == "JOSEPH DRISCOLL"] ["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [ ]:
#Quanto ganha "JOSEPH DRISCOLL"?
salario [salario["EmployeeName"] == "JOSEPH DRISCOLL"] ["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [ ]:
#Qual a pessoa mais bem paga?
salario ["TotalPayBenefits"] == salario ["TotalPayBenefits"].max

0         False
1         False
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: TotalPayBenefits, Length: 148654, dtype: bool

In [ ]:
#Pessoa mais bem remunerada?
salario [salario ["TotalPayBenefits"] == salario ["TotalPayBenefits"].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [ ]:
#Quando a pessoa paga mais baixo a remuneração?
salario [salario ["TotalPayBenefits"] == salario ["TotalPayBenefits"].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [ ]:
#Média de BasePay/ano?
salario.groupby('Year')

In [ ]:
salario.mean()['BasePay']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

66325.44884050643

In [ ]:
#Títulos únicos
len(salario["JobTitle"].unique())

2159

In [ ]:
#Títulos únicos
(salario["JobTitle"].unique())

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [ ]:
#5 mais comuns empregos?
salario["JobTitle"].value_counts()

Transit Operator                                  7036
Special Nurse                                     4389
Registered Nurse                                  3736
Public Svc Aide-Public Works                      2518
Police Officer 3                                  2421
                                                  ...
CHIEF HOUSING INSPECTOR                              1
TRAFFIC SIGNAL OPERATOR                              1
COURT COMPUTER FACILITIES COORDINATOR                1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I       1
VICTIM & WITNESS TECHNICIAN                          1
Name: JobTitle, Length: 2159, dtype: int64

In [ ]:
#Quantas pessoas são chefes?
def chief_string(title):
  if "chief" in title.lower():
    return True
  else:
    return False

In [ ]:
print(type(["JobTitle"]))

<class 'list'>

In [ ]:
sum(salario['JobTitle'].apply(lambda x: chief_string(x)))

627

In [ ]:
#Análise de correlação entre tamanho do título do trabalho e salário.
salario['Tamanho_da_string'] = salario['JobTitle'].apply(len)

In [ ]:
salario[['Tamanho_da_string', 'TotalPayBenefits']].corr()

                   Tamanho_da_string  TotalPayBenefits
Tamanho_da_string           1.000000         -0.036878
TotalPayBenefits           -0.036878          1.000000